<h2>Comments</h2>
<input id="search_input" name="title" type="search" class="form-control" placeholder="filter with document title"><button id="document_search_input">search</button>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Comment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for content in contents %}
          <tr>
            <td>{{content.id}}</td>
            <td>{{content.name}}</td>
            <td>{{content.message}}</td>
            <td><a class="database_content_delete" href="#" data-val="{{content.id}}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  